<body>
<header class="flex justify-between px-10 py-5 bg-[#2BAE66] text-[#FCF6F5]">
    <ul class="flex gap-5">
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/" ? "border-white" : "hover:border-white" %>" href="/">Shop</a></li>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/admin/manage-products" ? "border-white" : "hover:border-white" %>" href="/admin/manage-products">Manage Products</a></li>
    </ul>
    <ul class="flex">
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/cart" ? "border-white" : "hover:border-white" %>" href="/cart">Cart</a></li>
    </ul>
</header>
<main class="px-10 py-5">