<%-include("../../includes/head.ejs")%>
<h3 class="text-3xl">Orders</h3>
<div class="py-5">
  <div class="border-2 p-5">
    <h4 class="text-xl">ID#NUMBER</span>
    <hr>
    <div class="py-2 flex justify-between items-start">
        <ul class="text-sm flex gap-5">
            <li>
                <ul>
                    <li>Product Name: EXAMPLE</li>
                    <li>Product Price: $11</li>
                    <li>Product Count: 1</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Product Name: EXAMPLE</li>
                    <li>Product Price: $11</li>
                    <li>Product Count: 1</li>
                </ul>
            </li>
        </ul>
        <span>Total Price: $22</span>
    </div>
  </div>
</div>
<%-include("../../includes/end.ejs")%>
