<%- include("../../includes/head.ejs") %>
    <h1 class="text-3xl">Cart</h1>
    <div class="py-5 flex gap-5">
        <div class="flex flex-1 flex-col gap-5 overflow-y-auto cart-items h-[600px] snap-y">
            <% for (let i=0; i<1; i++) { %>
                <div class="border-[1px] border-[#2BAE66] flex p-2 justify-between snap-start">
                    <div class="flex gap-5">
                        <img src="/images/products/default.png" alt="product" class="h-[180px]"/>
                        <div class="flex flex-col">
                            <div>
                                <h3 class="text-xl font-bold">Product Name</h3>
                                <span class="text-gray-400">$33.99 *3</span>
                            </div>
                            <span class="text-[#2BAE66] font-bold">$101.97</span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <button class="flex-1 py-2 px-10 border-[1px] bg-[#2BAE66] hover:bg-[#FCF6F5] hover:border-[#2BAE66] text-[#FCF6F5] hover:text-[#2BAE66] ">Add</button>
                        <button class="flex-1 py-2 border-[1px] bg-[#990011] hover:bg-[#FCF6F5] hover:border-[#990011] text-[#FCF6F5] hover:text-[#990011]">Delete</button>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="flex-1">
            <h2 class="text-2xl">Total Price: $101.97</h2>
        </div>
    </div>
    <script>
        document.body.classList.add("overflow-hidden");
    </script>
<%- include("../../includes/end.ejs") %>